{# src/OC/PlatformBundle/Resources/views/Advert/translation.html.twig #}

<html>
  <body>
      <br/>
    {{ 'hello'|trans({'%name%': name}) }}
    <!-- localizeddate requiert les extensions ICU et intl -->
    Aujourd'hui nous sommes le {{ 'now'|localizeddate('full', 'none') }} et il est {{ 'now'|localizeddate('none', 'short') }}
  </body>
</html>